<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>이벤트</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/event/event.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/Common/footerCommon.css}">
    <script defer th:src="@{/resources/scripts/common/search.js}"></script>
</head>
<body>
<section class="layout">
    <div class="header_wrap">
        <h2 class="logo">
            <a href="/">
                <img class="icon" th:src="@{/resources/images/noticeImages/whiteLogo.png}" >
            </a>
        </h2>
        <h2 class="register" th:if="${user == null}">
            <a class="login" href="/login"> 로그인</a>
            <a class="login" href="/register/"> 회원가입</a>
        </h2>
        <h2 class="register" th:if="${user != null}">
            <a class="login" th:text="${user.getNickname()}">로그인</a>
            <a class="login" href="/logout"> 로그아웃</a>
        </h2>
    </div>
</section>

<section class="event">
    <h1>이벤트</h1>
    <div>
        <a class="button" href="/eventWriter" th:if="${user != null && user.isAdmin() == true}">작성</a>
        <a class="article-notice" th:each="event: ${event}" th:href="@{eventView(index=${event.getIndex()})}">
            <span class="title" th:text="${event.getTitle}"></span>
            <span class="day" th:text="${#dates.format(event.getCreatedAt(), 'yyyy-MM-dd')}"></span>
        </a>
    </div>
    <form id="search" method="get">
        <ul id="pageContainer" th:if="${searchResult > 0}">
            <li class="page" th:if="${pagingModel.requestPage > 1}">
                <a class="link" th:href="@{'/event' (p = ${1}, q = ${searchQuery})}">처음</a>
            </li>
            <li class="page" th:if="${pagingModel.requestPage > 1}">
                <a class="link" th:href="@{'/event' (p = ${pagingModel.requestPage - 1}, q = ${searchQuery})}">이전</a>
            </li>
            <li class="page" th:each="page : ${#numbers.sequence(pagingModel.displayStartPage, pagingModel.displayEndPage)}">
                <a class="link" th:href="@{'/event' (p = ${page}, q = ${searchQuery})}" th:text="${page}"></a>
            </li>
            <li class="page" th:if="${pagingModel.requestPage < pagingModel.maxPage}">
                <a class="link" th:href="@{'/event' (p = ${pagingModel.requestPage + 1}, q = ${searchQuery})}">다음</a>
            </li>
            <li class="page" th:if="${pagingModel.requestPage < pagingModel.maxPage}">
                <a class="link" th:href="@{'/event' (p = ${pagingModel.maxPage}, q = ${searchQuery})}">마지막</a>
            </li>
        </ul>
        <section class="search-box">
            <input class="input"  name="q" placeholder="제목을 입력해주세요" type="text" maxlength="15">
            <input class="button" type="submit" value="검색">
        </section>
    </form>
</section>



<footer id="footer">
    <div class="wrap">
        <div class="grid-twin one">
            <p class="about-info about-a-tag">고객센터</p>
            <p class="about-info"><a class="about-a-tag" href="/notice">공지사항</a></p>
            <p class="about-info"><a class="about-a-tag" href="/event">이벤트</a></p>
            <p class="about-info"><a class="about-a-tag" href="/faq">자주묻는 질문</a></p>
            <p class="about-info"><a class="about-a-tag" href="/qna">1대1 문의</a></p>
        </div>
        <div class="grid-twin two">
            <p class="about-info about-a-tag">위밋 정보</p>
            <p class="about-info"><a class="about-a-tag" href="/TermsOfService">이용약관</a></p>
            <p class="about-info"><a class="about-a-tag" href="/Privacy-Policy">개인정보처리방침</a></p>
        </div>
        <div class="grid-twin big">
            <p class="about-info about-a-tag second-info">㈜ 위밋</p>
            <p class="about-info small-info second-info">대표 : 백성현 | 개인정보관리책임자 : 정인탁 <br>
                이메일 : tjdgus4869@naver.com<br>
                주소: 경기 성남시 분당구 판교 <br>
                사업자등록번호: 123-23-12321 | 통신판매: 경기분당-12321<br>
                운영시간: (월~일)오전 9:00~오후 6:00</p>
        </div>
    </div>
</footer>
</body>
</html>