@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: white;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FB6161;
    margin-bottom: 2.5rem;
}

header > a {
    text-decoration: none;
}

header > a > img {
    width: 10rem;
    height: 2rem;
}

#qnaWriter > table {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

.qna-main {
    width: 30rem;
    height: 10rem;
    padding: 14px;
    resize: none;
    border: 1px solid #ccced1;
}

#qnaWriter > h1 {
    margin: 2rem 0 2rem 0.1rem;
}


tr > .textInput {
    padding: 0.8rem;
}

tr > .textInput > .qnaType{
    width: 26rem;
    padding: 0.5rem;
    border: 1px solid #ccced1;
}


tr > .textInput > .InputCommon {
    width: 25rem;
    padding: 0.5rem;
    border: 1px solid #ccced1;
}

tr > .textInput > ul > li{
    padding: 0.3rem;
    list-style: none;
    line-height: 30px;
}

tr > .textInput > ul > li > i{
    margin-right: 0.5rem;
}

#qnaWriter > table > tr, tr > .title {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
}

tr > .button-menu {
    text-align: center;
}

#qnaWriter > .button-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem 0 1.5rem 0;
}

#qnaWriter > .button-menu > .send, .cancel {
    background-color: #FB6161;
    color: white;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    margin: 0.3rem;
    border-radius: 0.2rem;
}

#qnaWriter > .button-menu > .send:hover, .cancel:hover {
    cursor: pointer;
    filter: brightness(90%); /* 밝기 조절로 어두운 효과 적용 */
}

.column{
    display: none;
}

@media screen and (max-width: 1090px) {


    #qnaWriter > h1 {
        margin: 0rem 0 2rem 0.1rem;
    }

    tr > .textInput {
        padding: 1rem;
    }

    tr > .textInput > .title {
        width: 30rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }

    #qnaWriter > table > tr > .title{
        text-align: center;
        padding: 1.5rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);
    }

    tr > .button-menu {
        text-align: center;
    }

    #qnaWriter > .button-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    #qnaWriter > .button-menu > .send, .cancel {
        background-color: #FB6161;
        color: white;
        border: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-decoration: none;
        font-weight: bold;
        margin: 0.3rem;
        border-radius: 0.2rem;
    }

    #notice-writer > .button-menu > .send:hover, .cancel:hover {
        cursor: pointer;
        filter: brightness(90%); /* 밝기 조절로 어두운 효과 적용 */
    }

}

@media screen and (max-width: 714px) {

    .qna-main {
        width: 20rem;
        height: 10rem;
        padding: 14px;
        resize: none;
        border: 1px solid #ccced1;
    }

    tr > .textInput > ul > li{
        padding: 0.3rem;
        list-style: none;
        line-height: 30px;
        font-size: 0.85rem;
    }

    tr > .textInput > .InputCommon {
        width: 15rem;
        padding: 0.5rem;
    }

    #qnaWriter > table > tr, tr > .title {
        text-align: center;
        padding: 0.8rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);
        font-size: 0.8rem;
    }

    tr > .textInput > .qnaType{
        width: 16rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }

}

@media screen and (max-width: 514px) {
    #qnaWriter{
        display: none;
    }
    .column{
        display: block;
    }

    tr > .textInput {
        text-align: center;
        padding: 1rem 0.2rem 1rem 0.2rem;

    }

    tr > .textInput.explain {
        text-align: left;
    }

    tr > .button-menu {
        text-align: center;
    }

    .qna-main {
        width: 18.5rem;
        height: 10rem;
        padding: 14px;
        resize: none;
        border: 1px solid #ccced1;
    }

    #qnaWriter > .button-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 410px) {
    tr > .textInput > ul > li{
        padding: 0.3rem;
        list-style: none;
        line-height: 30px;
        font-size: 0.7rem;
    }

    .qna-main {
        width: 15rem;
        height: 10rem;
        padding: 14px;
        resize: none;
        border: 1px solid #ccced1;
    }

    tr > .textInput > .InputCommon {
        width: 13rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }


    tr > .textInput > .qnaType{
        width: 14rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }



}













