@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    text-decoration: none;
}

a {
    color: black;
}

body {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--------------------------------------------------------------------------------*/

.layout {
    width: 100%;
    background-color: #FB6161;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout > .header_wrap {
    margin: 0 auto;
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout > .header_wrap > .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.layout > .header_wrap > .logo > a {
    color: white;
    margin-right: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.layout > .header_wrap > .logo > a > .icon {
    margin: 0rem 0.6rem 0rem 0.6rem;
    width: 10rem;
    height: 2rem;
}

.layout > .header_wrap > .register > a {
    color: white;
    margin-right: 0.5rem;
}

.event {
    width: 42.125rem;
    margin-top: 3rem;
    height: 800px;
}

.event > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.event > div > .button {
    padding: 0.5rem;
    font-size: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;
    background-color: #FB6161;
    color: #fff;
    border-radius: 0.3rem;
}

.event  > div > .article-notice {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event  > div > .article-notice:hover {
    background-color: #f4f3f1;
}

.event > div > .article-notice > .title {
    color: black;
    font-size: 1.3rem;
}

.event  > div > a > .title {
    color: #bdbdbd;
    font-size: 1rem;
}

/*공지사항의 제목*/
.event  > div > a > .day {
    margin: 0.5rem 0 0.5rem 0;
    color: #bdbdbd;
    font-size: 1rem;
}

#search{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pageContainer {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pageContainer > .page {
    user-select: none;
}

#pageContainer > .page > .link {
    height: 2.25rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0.55rem;
    text-decoration: none;
    background-color: #FB6161;
    color: white;
    margin: 0.09rem;
    border-radius: 0.3rem;
    font-weight: 450;
}

#pageContainer > .page > .link:hover {
    filter: grayscale(20%); /* 회색 필터 적용 */
}

.search-box {
    margin-bottom: 3rem;
}

.search-box > .input {
    width: 130px;
    height: 28px;
    border: 1px solid #ddd;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.search-box > .select {
    border: 1px solid #ddd;
    width: 80px;
    height: 33px;
    border-radius: 0.2rem;
}

.search-box > .input::placeholder {
    color: #999; /* 원하는 색상으로 변경해주세요 */
}

.search-box >  .button {
    background-color: #FB6161;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 500;
}

.search-box >  .button:hover {
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 920px){
    .event {
        width: 76.46%;
    }
}

@media screen and (max-width: 390px) {
    textarea::placeholder {
        font-size: 0.8rem;
    }

    .layout > .header_wrap > .logo > a > .icon {
        margin: 0.2rem 0.6rem 0rem 0.6rem;
        width: 100%;
        height: 1.3rem;
    }

    h1{
        font-size: 1.3rem;
    }

    .event{
        margin-top: 1.5rem;
    }

    .event > div > .button{
        padding: 0.3rem;
        font-size: 0.9rem;
    }


    .layout > .header_wrap >.register > .login{
        font-size: 1.1rem;
    }

    .event > div > .article-notice > .title {
        color: black;
        font-size: 1rem;
    }

}