@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FB6161;
    margin-bottom: 2.5rem;
}

header > a {
    text-decoration: none;
}

header > a > img {
    width: 10rem;
    height: 2rem;
}

#notice-writer > table {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

@media screen and (min-width: 1091px) {

    .ck.ck-editor {
        min-width: 900px;
    }

    .ck-editor__editable {
        height: 30rem;
    }

    #notice-writer > h1 {
        margin: 0rem 0 2rem 0.1rem;
    }

    tr > .textInput {
        padding: 0.8rem;
    }


    tr > .textInput > .notice-title {
        width: 35rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }


    tr > .client-voice {
        padding: 0.8rem;
    }

    #notice-writer > table > tr, tr > .title, .content {
        text-align: center;
        padding: 1.5rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);
    }

    tr > .button-menu {
        text-align: center;
    }

    #notice-writer > .button-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    #notice-writer > .button-menu > .send, .cancel {
        background-color: #FB6161;
        color: white;
        border: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-decoration: none;
        font-weight: bold;
        margin: 0.3rem;
        border-radius: 0.2rem;
    }

    #notice-writer > .button-menu > .send:hover, .cancel:hover {
        cursor: pointer;
        filter: brightness(90%); /* 밝기 조절로 어두운 효과 적용 */
    }
}


@media screen and (max-width: 1090px) {
    .ck.ck-editor {
        max-width: 600px;
    }
    .ck-editor__editable {
        height: 25rem;
    }

    #notice-writer > h1 {
        margin: 0rem 0 2rem 0.1rem;
    }

    tr > .textInput {
        padding: 0.8rem;
    }


    tr > .textInput > .notice-title {
        width: 30rem;
        padding: 0.5rem;
        border: 1px solid #ccced1;
    }


    tr > .client-voice {
        padding: 0.8rem;
    }

    #notice-writer > table > tr, tr > .title, .content {
        text-align: center;
        padding: 1.5rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);
    }

    tr > .button-menu {
        text-align: center;
    }

    #notice-writer > .button-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1.5rem 0 1.5rem 0;
    }

    #notice-writer > .button-menu > .send, .cancel {
        background-color: #FB6161;
        color: white;
        border: none;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-decoration: none;
        font-weight: bold;
        margin: 0.3rem;
        border-radius: 0.2rem;
    }

    #notice-writer > .button-menu > .send:hover, .cancel:hover {
        cursor: pointer;
        filter: brightness(90%); /* 밝기 조절로 어두운 효과 적용 */
    }

}

@media screen and (max-width: 714px) {
    .ck.ck-editor {
        max-width: 430px;
    }

    .ck-editor__editable {
        height: 20rem;
    }

    tr > .textInput > .notice-title {
        width: 20rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 514px) {
    .ck.ck-editor {
        max-width: 380px;
    }

    .ck-editor__editable {
        height: 20rem;
    }

    tr > .textInput > .notice-title {
        width: 15rem;
    }

    #notice-writer > table > tr, tr > .title, .content {
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        background-color: rgb(244, 244, 244);
        font-size: 0.9rem;
    }

    tr > .button-menu {
        text-align: center;
    }

    #notice-writer > .button-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .ck.ck-editor {
        max-width: 280px;
    }

    .ck-editor__editable {
        height: 15rem;
    }

    tr > .textInput > .notice-title {
        width: 10rem;
    }
}

@media screen and (max-width: 340px) {
    .ck.ck-editor {
        max-width: 185px;
    }

    .ck-editor__editable {
        height: 15rem;
    }

    tr > .textInput > .notice-title {
        width: 8rem;
    }
}









